@{
    Layout = "_Layout";
    @model CategoryPizza
}


<form class="w-50 m-auto" asp-controller="Pizza" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" asp-for="Pizza.Name" class="form-control" id="name" placeholder="Inserisci nome">
        <span class="alert-danger" asp-validation-for="Pizza.Name"></span>
    </div>

    <div class="form-group">
        <label for="image">Immagine</label>
        <input type="text" asp-for="Pizza.Image" class="form-control" id="image" placeholder="Inserisci l'url dell'immagine">
        <span class="alert-danger" asp-validation-for="Pizza.Image"></span>
    </div>

    <div class="form-group">
        <label for="ingredients">Descrizione</label>
        <textarea class="form-control" asp-for="Pizza.Description" id="ingredients" rows="3"></textarea>
        <span class="alert-danger" asp-validation-for="Pizza.Description"></span>
    </div>

    <div class="form-group">
        <label for="price">Prezzo</label>
        <input type="text" class="form-control" asp-for="Pizza.Price" id="price" placeholder="Inserisci il prezzo">
        <span class="alert-danger" asp-validation-for="Pizza.Price"></span>
    </div>

    <select class="form-select my-3" asp-for="Pizza.CategoryId">
        
        @foreach (var category in Model.Categories)
        {
            <option value="@category.CategoryId">@category.Name</option>
        }
        
    </select>
    <span class="alert-danger" asp-validation-for="Pizza.CategoryId"></span>

    <div class="ingredients">

 @*       <select class="form-select my-3" multiple="multiple" asp-for="SelectedIngredients">

            @foreach (Ingredients ingredient in Model.Ingredients)
            {
                <option value="@ingredient.Id">@ingredient.Name</option>
            }

        </select>*@

        <select class="form-select my-3" multiple="multiple" id="SelectedIngredients" name="SelectedIngredients">

            @foreach (Ingredients ingredient in Model.Ingredients)
            {
                <option value="@ingredient.Id">@ingredient.Name</option>
            }

        </select>

 @*       @foreach (var ingredient in Model.Ingredients)
        {
            <div class="form-check">
                <input class="form-check-input" asp-for="SelectedIngredients" type="checkbox" value="@ingredient.Id" id="@ingredient.Name">
                <label class="form-check-label" for="@ingredient.Name">
                    @ingredient.Name
                </label>
            </div>
        }*@
    </div>

     <button type="submit" class="btn btn-secondary my-2">Inserisci</button>

</form>